<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="no-js">
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% else %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | relative_url }}">

    {% include head.html %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% include head/custom.html %}
</head>
<body class="layout--home">
    {% include masthead.html %}
    <div class="grid-container">
        <div class="sidebar">
            <div class="bio">
                {% if site.author.avatar %}
                <img src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}" class="bio-photo">
                <!-- <img src="{{ '/asssets/images/'| relative_url }}{{ site.author.avatar }}" alt="{{ site.author.name }}" class="bio-photo"> -->
                {% endif %}
                <!-- <img src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}" class="bio-photo"> -->
                <h3 class="name">{{ site.author.name }}</h3>
                <p class="bio-text">{{ site.author.bio }}</p>
                <!-- <p class="location">{{ site.author.location }}</p> -->
                <ul class="social-links">
                    {% for link in site.author.links %}
                    {% if link.url %}
                    <li><a href="{{ link.url }}" title="{{ link.label }}"><i class="{{ link.icon }}"></i></a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="main-content">
            {{ content }}
        </div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>